#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "w32svspy.h"

W32SPY_DLG DIALOG 4, 14, 355, 220
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "W32SVSPY - Matt Pietrek 1995"
FONT 8, "MS Sans Serif"
{
 LISTBOX IDC_LISTBOX_CALLS, 4, 18, 280, 200, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "Start", IDC_BUTTON_START, 294, 6, 50, 14
 PUSHBUTTON "Stop", IDC_BUTTON_STOP, 294, 24, 50, 14
 PUSHBUTTON "Exit", IDC_BUTTON_EXIT, 294, 42, 50, 14
 PUSHBUTTON "Save...", IDC_BUTTON_SAVE, 294, 68, 50, 14
 PUSHBUTTON "Filter...", IDC_BUTTON_FILTER, 294, 88, 50, 14
 LTEXT "status", IDC_TEXT_STATUS, 6, 4, 60, 8
}


ICON_1 ICON "w32spy.ico"


Win32ServicesFilterDialog DIALOG 8, 19, 280, 111
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Filter Services"
FONT 8, "MS Sans Serif"
{
 LISTBOX IDC_FILTER_LB_PROVIDERS, 4, 16, 56, 88, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP
 LISTBOX IDC_FILTER_LB_SERVICES, 68, 16, 152, 88, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 224, 6, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 224, 24, 50, 14
 LTEXT "Service Providers", -1, 4, 4, 60, 8
 LTEXT "Win32 Services", -1, 68, 4, 76, 8
}

