#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "Win32Wlk.h"

Win32WlkDlg DIALOG 8, 18, 360, 280
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Win32 Walk - Matt Pietrek 1995"
FONT 8, "MS Sans Serif"
{
 GROUPBOX "", IDC_GROUPBOX2, 5, 4, 168, 20, BS_GROUPBOX
 AUTORADIOBUTTON "Processes", IDC_RB_PROCESSES, 8, 10, 48, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Threads", IDC_RB_THREADS, 64, 10, 48, 12
 AUTORADIOBUTTON "Modules", IDC_RB_MODULES, 120, 10, 48, 12
 LISTBOX IDC_LB_MAIN_LIST, 4, 30, 104, 240, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 LTEXT "", IDC_DETAILS_TYPE, 178, 12, 178, 8
 LISTBOX IDC_LB_DETAILS, 120, 30, 236, 240, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "Lines with a '+' can be double-clicked to expand", -1, 120, 268, 200, 8
}

