
// w2k_kill.rc
// 08-27-2000 Sven B. Schreiber
// sbs@orgon.com

#define  _RC_PASS_
#define  _W2K_KILL_SYS_
#include "w2k_kill.h"

// =================================================================
// STANDARD RESOURCES
// =================================================================

DRV_RC_VERSION
DRV_RC_ICON

// =================================================================
// END OF FILE
// =================================================================
