#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "showwnd.h"

ShowWndDlg DIALOG 10, 20, 360, 280
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "ShowWnd - Matt Pietrek 1995"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "Refresh", IDC_BUTTON_REFRESH, 4, 6, 50, 14
 PUSHBUTTON "Exit", IDC_BUTTON_EXIT, 308, 6, 50, 14
 LISTBOX IDC_LB_MAIN_LIST, 4, 30, 186, 228, LBS_NOTIFY | WS_BORDER | LBS_USETABSTOPS | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 LISTBOX IDC_LB_DETAILS, 200, 30, 156, 228, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "", IDC_DETAILS_TYPE, 200, 12, 104, 8
 LTEXT "Lines with a '+' can be double-clicked to expand", -1, 120, 268, 200, 8
}

ShowWndIcon ICON "showwnd.ico"
