
// w2k_call.rc
// 08-27-2000 Sven B. Schreiber
// sbs@orgon.com

#define  _RC_PASS_
#define  _W2K_CALL_DLL_
#include "w2k_call.h"

// =================================================================
// STANDARD RESOURCES
// =================================================================

MAIN_RC_VERSION
MAIN_RC_ICON

// =================================================================
// END OF FILE
// =================================================================
