
// w2k_lib.rc
// 02-12-2001 Sven B. Schreiber
// sbs@orgon.com

#define  _RC_PASS_
#define  _W2K_LIB_DLL_
#include "w2k_lib.h"

// =================================================================
// STANDARD RESOURCES
// =================================================================

MAIN_RC_VERSION
MAIN_RC_ICON

// =================================================================
// END OF FILE
// =================================================================
