
// w2k_sym2.rc
// 08-27-2000 Sven B. Schreiber
// sbs@orgon.com

#define  _RC_PASS_
#include "w2k_sym2.h"

// =================================================================
// STANDARD RESOURCES
// =================================================================

MAIN_RC_VERSION
MAIN_RC_ICON

// =================================================================
// END OF FILE
// =================================================================
